.navigation {
  // border: 5px solid blue;
  display: flex;
  justify-content: flex-end;
  a {
    // border: 5px solid green;
    align-self: center;
    margin-right: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
  }
}
